* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #161616;
}

main {
    position: relative;
    background: #eee;
    display: block;
}

main canvas {
    position: absolute;
    background-color: transparent;
}